img {
    margin: 10px;
    width: 150px;
}

h1,
h2 {
    font-size: 30pt;
    color: red;
    text-align: center;
    font-family: Arial Black;
    font-style: italic;
    letter-spacing: 5px;
}

ol {
    font-size: 20pt;
    text-align: justify;
    font-family: Book Antiqua;
    font-style: italic;
    text-indent: 15px;
}


